{% extends 'posts/base.html' %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
    <a href="{% url 'lista_posts' %}">← Volver a Posts</a>

    <h1>{{ post.titulo }}</h1>

    {% if post.imagen %}
        <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" style="max-width: 100%;">
    {% endif %}

    <p><strong>Autor:</strong> {{ post.autor }}</p>
    <p><strong>Estado:</strong> {{ post.estado }}</p>
    <p><strong>Publicado el:</strong> {{ post.fecha_creacion }}</p>

    <p>{{ post.contenido }}</p>

    <a href="{% url 'editar_post' post.id %}">Editar</a>
    <a href="{% url 'eliminar_post' post.id %}">Eliminar</a>
{% endblock %}