{% extends 'posts/base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
    <h1>Posts</h1>

    <a href="{% url 'crear_post' %}">+ Nuevo Post</a>

    {% for post in posts %}
        <article>
            {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" style="max-width: 300px;">
            {% endif %}
            <h2><a href="{% url 'detalle_post' post.id %}">{{ post.titulo }}</a></h2>
            <p><strong>Autor:</strong> {{ post.autor }}</p>
            <p><strong>Estado:</strong> {{ post.estado }}</p>
            <p><strong>Publicado el:</strong> {{ post.fecha_creacion }}</p>
        </article>
        <hr>
    {% endfor %}
{% endblock %}